<div class="monitoring height100" flex>
  <aside class="monitoring__leftaside" col="7" flex-column>
    <Card class="monitoring__leftaside-inspect" col="1" :row="false">
      <div class="app_inspect-wrap" flex colcenter>
        <img class="pic" src="~@assets/images/radar.gif" alt=""/>
        <div class="app_inspect-list" col="1" flex colcenter spacebetween>
          <div :class="['app_inspect', inspectSource === 'app' ? 'current' : '']" @click="toggleInspectSource('app')" flex-column>
            <span class="arrow"></span>
            <span class="arrow"></span>
            <span class="arrow"></span>
            <span class="arrow"></span>
            <div class="inspect-header" flex center>
              <img class="inspect-header-icon" src="~@assets/images/icon_box.png" alt=""/>
              <span class="inspect-header-title">应用监测</span>
            </div>
            <div class="inspect-content" flex-column>
              <img class="inspect-content-icon" src="~@assets/images/icon_search.png" alt=""/>
              <div class="inspect-content-info" flex>
                <div col="1"></div>
                <div col="4" flex-column>
                  <div class="title">当前检测应用为<span>{{currentAppInspect.NAME}}</span></div>
                  <div class="duration">历时<span class="num">{{computingTime}}</span></div>
                </div>
              </div>
              <div class="line"></div>
              <div class="inspect-content-record" flex spacebetween>
                <div class="total" col="1" flex-column colcenter>
                  <span>全部应用</span>
                  <span class="num">{{app_inspect.total_app}}</span>
                </div>
                <div col="1"></div>
                <div class="progress" col="3" flex-column>
                  <div flex>
                    <div class="normal" col="1" flex-column colcenter>
                      <span>正常</span>
                      <span class="num">{{app_inspect.normal}}</span>
                    </div>
                    <div class="error" col="1" flex-column colcenter>
                      <span>异常</span>
                      <span class="num">{{app_inspect.abnormal}}</span>
                    </div>
                    <div class="tobe" col="1" flex-column colcenter>
                      <span>待检测</span>
                      <span class="num">{{app_inspect.tobe_inspect}}</span>
                    </div>
                  </div>
                  <PercentBar :value="applicationStateRatio" :color="['#3AC868', '#F25B58', '#27A6F6']"
                              :displayRole="false" :displayNum="false"/>
                </div>
              </div>
            </div>
          </div>
          <div :class="['app_inspect', inspectSource === 'host' ? 'current' : '']" @click="toggleInspectSource('host')" flex-column>
            <span class="arrow"></span>
            <span class="arrow"></span>
            <span class="arrow"></span>
            <span class="arrow"></span>
            <div class="inspect-header" flex center>
              <img class="inspect-header-icon" src="~@assets/images/icon_tv.png" alt=""/>
              <span class="inspect-header-title">主机监测</span>
            </div>
            <div class="inspect-content" flex-column>
              <img class="inspect-content-icon" src="~@assets/images/icon_search.png" alt=""/>
              <div class="inspect-content-info" flex>
                <div col="1"></div>
                <div col="4" flex-column>
                  <div class="title">当前检测主机为<span>{{currentHostInspect.NAME}}</span></div>
                  <div class="duration">&nbsp;</div>
                </div>
              </div>
              <div class="line"></div>
              <div class="inspect-content-record" flex spacebetween>
                <div class="total" col="1" flex-column colcenter>
                  <span>全部主机</span>
                  <span class="num">{{host_inspect.total_app}}</span>
                </div>
                <div col="1"></div>
                <div class="progress" col="3" flex-column>
                  <div flex>
                    <div class="normal" col="1" flex-column colcenter>
                      <span>正常</span>
                      <span class="num">{{host_inspect.normal}}</span>
                    </div>
                    <div class="error" col="1" flex-column colcenter>
                      <span>异常</span>
                      <span class="num">{{host_inspect.abnormal}}</span>
                    </div>
                    <div class="tobe" col="1" flex-column colcenter>
                      <span>待检测</span>
                      <span class="num">{{host_inspect.tobe_inspect}}</span>
                    </div>
                  </div>
                  <PercentBar :value="hostStateRatio" :color="['#3AC868', '#F25B58', '#27A6F6']" :displayRole="false"
                              :displayNum="false"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="abnormal_app-wrap" flex spacearound>
        <div :class="['abnormal_app', inspectSource === 'app' ? 'current' : '']">
          <div class="abnormal_app-info" flex v-if="appAbnormalList.length">
            <div class="abnormal_app-number" flex-column center>
              <span class="title">异常应用</span>
              <div flex center>
                <span class="num">{{app_inspect.abnormal_count}}</span>
                <sub>个</sub>
              </div>
            </div>
            <div class="abnormal_app-list" col="1" flex>
              <div class="list-item" col="1" flex-column v-for="item in appAbnormalList">
                <span class="app-name">{{item.name}}</span>
                <div class="app-url" flex-column>
                  <span class="title">URL：</span>
                  <span class="value">{{item.url}}</span>
                </div>
                <div class="app-event" flex-column>
                  <span class="title">检测起止时间：</span>
                  <span class="value">{{item.start_time}} - {{item.end_time}}</span>
                </div>
                <div class="app-abnormal-type" flex>
                  <span class="type-name">{{item.abnormal_type}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="abnormal_app-content">
            <div class="t__wrap" flex-column>
              <div class="t__head" flex>
                <span col="2">应用名称</span>
                <span col="4">URL</span>
                <span col="3">检测起止时间</span>
                <span col="1">状态</span>
              </div>
              <div class="t__body" flex-column>
                <div v-for="obj in appInspectList"
                     :class="['t__tr', obj.normal === '2' ? 'state-success' : '', obj.normal === '3' ? 'state-loading' : '']"
                     flex>
                  <span col="2">{{obj.NAME}}</span>
                  <span col="4">{{obj.url}}</span>
                  <span col="3">{{obj.start_time}} - {{obj.end_time}}</span>
                  <span col="1">{{obj.normal}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div :class="['abnormal_app', inspectSource === 'host' ? 'current' : '']">
          <div class="abnormal_app-info" flex v-if="hostAbnormalList.length">
            <div class="abnormal_app-number" flex-column center>
              <span class="title">异常应用</span>
              <div flex center>
                <span class="num">{{host_inspect.abnormal_count}}</span>
                <sub>个</sub>
              </div>
            </div>
            <div class="abnormal_app-list" col="1" flex>
              <div class="list-item" col="1" flex-column v-for="item in hostAbnormalList">
                <span class="app-name">{{item.name}}</span>
                <div class="app-url" flex-column>
                  <span class="title">服务器用途：</span>
                  <span class="value">{{item.url}}</span>
                </div>
                <div class="app-event" flex-column>
                  <span class="title">监测时间：</span>
                  <span class="value">{{item.start_time}}</span>
                </div>
                <div class="app-abnormal-type" flex>
                  <span class="type-name">{{item.abnormal_type}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="abnormal_app-content">
            <div class="t__wrap" flex-column>
              <div class="t__head" flex>
                <span col="2">主机IP地址</span>
                <span col="4">服务器用途</span>
                <span col="3">监测时间</span>
                <span col="1">状态</span>
              </div>
              <div class="t__body" flex-column>
                <div v-for="obj in hostInspectList"
                     :class="['t__tr', obj.normal === '2' ? 'state-success' : '', obj.normal === '3' ? 'state-loading' : '']"
                     flex>
                  <span col="2">{{obj.NAME}}</span>
                  <span col="4">{{obj.url}}</span>
                  <span col="3">{{obj.start_time}}</span>
                  <span col="1">{{obj.normal}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Card>
  </aside>
  <aside class="monitoring__rightaside" col="2" flex-column>
    <div class="operation__rightaside-todo" col="1" flex-column>
      <div class="todo-summary" col="1" flex-column center>
        <div>当前未处理安全事件</div>
        <div>
          <span class="num">{{unsolved_events.total_count}}</span>
          <span>/件</span>
        </div>
      </div>
      <div class="todo-type" col="1" flex center>
        <div class="todo-type-item" col="1" flex center>
          <span col="3" class="item-name">安全漏洞</span>
          <span col="2" :class="['num', unsolved_events.safetybug && 'warning']">{{unsolved_events.safetybug}}</span>
        </div>
        <div class="todo-type-item" col="1" flex center>
          <span col="3" class="item-name">篡改</span>
          <span col="2" :class="['num', unsolved_events.modified && 'warning']">{{unsolved_events.modified}}</span>
        </div>
        <div class="todo-type-item" col="1" flex center>
          <span col="3" class="item-name">木马</span>
          <span col="2" :class="['num', unsolved_events.trojan && 'warning']">{{unsolved_events.trojan}}</span>
        </div>
        <div class="todo-type-item" col="1" flex center>
          <span col="3" class="item-name">敏感内容</span>
          <span col="2" :class="['num', unsolved_events.sensitive && 'warning']">{{unsolved_events.sensitive}}</span>
        </div>
        <div class="todo-type-item" col="1" flex center>
          <span col="3" class="item-name">暗链</span>
          <span col="2" :class="['num', unsolved_events.hidden_link && 'warning']">{{unsolved_events.hidden_link}}</span>
        </div>
        <div class="todo-type-item" col="1" flex center>
          <span col="3" class="item-name">组件版本</span>
          <span col="2" :class="['num', unsolved_events.component && 'warning']">{{unsolved_events.component}}</span>
        </div>
      </div>
    </div>
    <Card class="running__apps" col="1" title="使用系统分布">
      <PieChart :cols="1" :column="false" :outer="0.9" :color="['#27A6F6', '#3AC868', '#ECB045']"
                :data="operationSystem"/>
    </Card>
    <Card class="running__apps" col="1" title="使用组件分布">
      <PieChart :cols="1" :column="false" :outer="0.9" :color="['#27A6F6', '#3AC868', '#ECB045']"
                :data="componentUsage"/>
    </Card>
  </aside>
</div>
