<div class="monitoring height100" flex>
  <aside class="monitoring__leftaside" col="7" flex-column>
    <Card class="monitoring__leftaside-inspect" col="1" :row="false">
      <div class="app_inspect-wrap" flex colcenter>
        <img class="pic" src="~@assets/images/radar.gif" alt=""/>
        <div class="app_inspect-list" col="1" flex colcenter spacebetween>
          <div col="4" :class="['app_inspect', true ? 'current' : '']" flex-column>
            <span class="arrow"></span>
            <span class="arrow"></span>
            <span class="arrow"></span>
            <span class="arrow"></span>
            <div class="inspect-header" flex center>
              <img class="inspect-header-icon" src="~@assets/images/icon_box.png" alt=""/>
              <span class="inspect-header-title">应用监测</span>
            </div>
            <div class="inspect-content" flex-column>
              <img class="inspect-content-icon" src="~@assets/images/icon_search.png" alt=""/>
              <div class="inspect-content-info" flex>
                <div col="1"></div>
                <div col="4" flex-column>
                  <div class="title">当前检测应用为<span>信息门户平台</span></div>
                  <div class="duration">历时<span class="num">1h 23m 45s</span></div>
                </div>
              </div>
              <div class="line"></div>
              <div class="inspect-content-record" flex spacebetween>
                <div class="total" col="1" flex-column colcenter>
                  <span>全部应用</span>
                  <span class="num">89</span>
                </div>
                <div col="1"></div>
                <div class="progress" col="3" flex-column>
                  <div flex>
                    <div class="normal" col="1" flex-column colcenter>
                      <span>正常</span>
                      <span class="num">27</span>
                    </div>
                    <div class="error" col="1" flex-column colcenter>
                      <span>异常</span>
                      <span class="num">3</span>
                    </div>
                    <div class="tobe" col="1" flex-column colcenter>
                      <span>待检测</span>
                      <span class="num">59</span>
                    </div>
                  </div>
                  <PercentBar :value="[27, 3, 59]" :color="['#3AC868', '#F25B58', '#27A6F6']" :displayRole="false" :displayNum="false"/>
                </div>
              </div>
            </div>
          </div>
          <div col="3" :class="['app_inspect', false ? 'current' : '']" flex-column>
            <span class="arrow"></span>
            <span class="arrow"></span>
            <span class="arrow"></span>
            <span class="arrow"></span>
            <div class="inspect-header" flex center>
              <img class="inspect-header-icon" src="~@assets/images/icon_tv.png" alt=""/>
              <span class="inspect-header-title">主机监测</span>
            </div>
            <div class="inspect-content" flex-column>
              <img class="inspect-content-icon" src="~@assets/images/icon_search.png" alt=""/>
              <div class="inspect-content-info" flex>
                <div col="1"></div>
                <div col="4" flex-column>
                  <div class="title">当前检测应用为<span>信息门户平台</span></div>
                  <div class="duration">历时<span class="num">1h 23m 45s</span></div>
                </div>
              </div>
              <div class="line"></div>
              <div class="inspect-content-record" flex spacebetween>
                <div class="total" col="1" flex-column colcenter>
                  <span>全部应用</span>
                  <span class="num">89</span>
                </div>
                <div col="1"></div>
                <div class="progress" col="3" flex-column>
                  <div flex>
                    <div class="normal" col="1" flex-column colcenter>
                      <span>正常</span>
                      <span class="num">27</span>
                    </div>
                    <div class="error" col="1" flex-column colcenter>
                      <span>异常</span>
                      <span class="num">3</span>
                    </div>
                    <div class="tobe" col="1" flex-column colcenter>
                      <span>待检测</span>
                      <span class="num">59</span>
                    </div>
                  </div>
                  <PercentBar :value="[27, 3, 59]" :color="['#3AC868', '#F25B58', '#27A6F6']" :displayRole="false" :displayNum="false"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="abnormal_app-wrap" flex spacearound>
        <div col="5" :class="['abnormal_app', true ? 'current' : '']">
          <div class="abnormal_app-info" flex>
            <div class="abnormal_app-number" flex-column center>
              <span class="title">异常应用</span>
              <div flex center>
                <span class="num">3</span>
                <sub>个</sub>
              </div>
            </div>
            <div class="abnormal_app-list" col="1" flex>
              <div class="list-item" col="1" flex-column>
                <span class="app-name">信息门户平台</span>
                <div class="app-url" flex-column>
                  <span class="title">URL：</span>
                  <span class="value">http://my.wisedu.com/edc/ID/6.Operation/</span>
                </div>
                <div class="app-event" flex-column>
                  <span class="title">检测起止时间：</span>
                  <span class="value">2018.11.12 12:00:00-13:00:00</span>
                </div>
                <div class="app-abnormal-type" flex>
                  <span class="type-name">异常类型</span>
                  <span class="type-name">异常类型</span>
                  <span class="type-name">异常类型</span>
                  <span class="type-name">异常类型</span>
                </div>
              </div>
              <div class="list-item" col="1" flex-column>
                <span class="app-name">信息门户平台</span>
                <div class="app-url" flex-column>
                  <span class="title">URL：</span>
                  <span class="value">http://my.wisedu.com/edc/ID/6.Operation/</span>
                </div>
                <div class="app-event" flex-column>
                  <span class="title">检测起止时间：</span>
                  <span class="value">2018.11.12 12:00:00-13:00:00</span>
                </div>
                <div class="app-abnormal-type" flex>
                  <span class="type-name">异常类型</span>
                  <span class="type-name">异常类型</span>
                </div>
              </div>
              <div class="list-item" col="1" flex-column>
                <span class="app-name">信息门户平台</span>
                <div class="app-url" flex-column>
                  <span class="title">URL：</span>
                  <span class="value">http://my.wisedu.com/edc/ID/6.Operation/</span>
                </div>
                <div class="app-event" flex-column>
                  <span class="title">检测起止时间：</span>
                  <span class="value">2018.11.12 12:00:00-13:00:00</span>
                </div>
                <div class="app-abnormal-type" flex>
                  <span class="type-name">异常类型</span>
                  <span class="type-name">异常类型</span>
                </div>
              </div>
            </div>
          </div>
          <div class="abnormal_app-content">
            <div class="t__wrap" flex-column>
              <div class="t__head" flex>
                <span col="2">应用名称</span>
                <span col="4">URL</span>
                <span col="3">检测起止时间</span>
                <span col="1">状态</span>
              </div>
              <div class="t__body" flex-column>
                <div :class="['t__tr', true ? 'state-success' : '', false ? 'state-loading' : '']" flex>
                  <span col="2">信息门户平台信息门户平台信息门户平台</span>
                  <span col="4">http://my.wisedu.com/edc/ID/6.Operationhttp://my.wisedu.com/edc/ID/6.Operationhttp://my.wisedu.com/edc/ID/6.Operation</span>
                  <span col="3">2018.11.12 12:00:00-13:00:00</span>
                  <span col="1">正常</span>
                </div>
                <div :class="['t__tr', false ? 'state-success' : '', true ? 'state-loading' : '']" flex>
                  <span col="2">信息门户平台信息门户平台信息门户平台</span>
                  <span col="4">http://my.wisedu.com/edc/ID/6.Operationhttp://my.wisedu.com/edc/ID/6.Operationhttp://my.wisedu.com/edc/ID/6.Operation</span>
                  <span col="3">2018.11.12 12:00:00-13:00:00</span>
                  <span col="1">检测中</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div col="3" :class="['abnormal_app', false ? 'current' : '']">
          <div class="abnormal_app-info" flex>
            <div class="abnormal_app-number" flex-column center>
              <span class="title">异常应用</span>
              <div flex center>
                <span class="num">3</span>
                <sub>个</sub>
              </div>
            </div>
            <div class="abnormal_app-list" col="1" flex>
              <div class="list-item" col="1" flex-column>
                <span class="app-name">172.16.0.8</span>
                <div class="app-url" flex-column>
                  <span class="title">服务器用途：</span>
                  <span class="value">数据库服务器</span>
                </div>
                <div class="app-event" flex-column>
                  <span class="title">监测时间：</span>
                  <span class="value">2018.11.12 12:00:00-13:00:00</span>
                </div>
                <div class="app-abnormal-type" flex>
                  <span class="type-name">异常类型</span>
                  <span class="type-name">异常类型</span>
                </div>
              </div>
              <div class="list-item" col="1" flex-column>
                <span class="app-name">172.16.0.8</span>
                <div class="app-url" flex-column>
                  <span class="title">服务器用途：</span>
                  <span class="value">数据库服务器</span>
                </div>
                <div class="app-event" flex-column>
                  <span class="title">监测时间：</span>
                  <span class="value">2018.11.12 12:00:00-13:00:00</span>
                </div>
                <div class="app-abnormal-type" flex>
                  <span class="type-name">异常类型</span>
                  <span class="type-name">异常类型</span>
                </div>
              </div>
              <div class="list-item" col="1" flex-column>
                <span class="app-name">172.16.0.8</span>
                <div class="app-url" flex-column>
                  <span class="title">服务器用途：</span>
                  <span class="value">数据库服务器</span>
                </div>
                <div class="app-event" flex-column>
                  <span class="title">监测时间：</span>
                  <span class="value">2018.11.12 12:00:00-13:00:00</span>
                </div>
                <div class="app-abnormal-type" flex>
                  <span class="type-name">异常类型</span>
                  <span class="type-name">异常类型</span>
                </div>
              </div>
            </div>
          </div>
          <div class="abnormal_app-content">
            <div class="t__wrap" flex-column>
              <div class="t__head" flex>
                <span col="2">应用名称</span>
                <span col="4">URL</span>
                <span col="3">检测起止时间</span>
                <span col="1">状态</span>
              </div>
              <div class="t__body" flex-column>
                <div :class="['t__tr', true ? 'state-success' : '', false ? 'state-loading' : '']" flex>
                  <span col="2">信息门户平台信息门户平台信息门户平台</span>
                  <span col="4">http://my.wisedu.com/edc/ID/6.Operationhttp://my.wisedu.com/edc/ID/6.Operationhttp://my.wisedu.com/edc/ID/6.Operation</span>
                  <span col="3">2018.11.12 12:00:00-13:00:00</span>
                  <span col="1">正常</span>
                </div>
                <div :class="['t__tr', false ? 'state-success' : '', true ? 'state-loading' : '']" flex>
                  <span col="2">信息门户平台信息门户平台信息门户平台</span>
                  <span col="4">http://my.wisedu.com/edc/ID/6.Operationhttp://my.wisedu.com/edc/ID/6.Operationhttp://my.wisedu.com/edc/ID/6.Operation</span>
                  <span col="3">2018.11.12 12:00:00-13:00:00</span>
                  <span col="1">检测中</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Card>
  </aside>
  <aside class="monitoring__rightaside" col="2" flex-column>
    <Card class="running__apps" col="3" title="校园应用统计" :date="date" :row="false" :detail="true"></Card>
  </aside>
</div>
