<div class="behavior height100" flex>
  <aside class="behavior__leftaside" col="2" flex-column>
    <Card class="behavior__activation" col="2" title="账号身份分布" :date="new Date" :row="false">
      <div col="4" flex colcenter style="margin-top: -1.5em;">
        <div col="2" class="title">累计账号</div>
        <div col="3" class="total-num"><span class="num">{{accountActive.total}}</span><span col="1"
                                                                                             class="unit">个</span></div>
      </div>
      <div col="3" flex-column>
        <div col="1">
          <ProportionBar :value="accountActive.student" :total="accountActive.student + accountActive.teacher"/>
        </div>
        <div col="1">
          <ProportionBar :color="['#419EF8']" :value="accountActive.teacher"
                         :total="accountActive.student + accountActive.teacher" role="teacher"/>
        </div>
      </div>
    </Card>
    <Card class="behavior__online" col="3" title="活跃用户访问次数分布" subtitle="(近30日)">
      <TwoPieChart :outer="0.9" :inner="0.55" :legend="['<5次', '5-10次', '10-15次', '15-20次', '>20次']"
                   :data="onlineStudent" :data2="onlineTeacher"/>
    </Card>
    <Card class="behavior__type" col="3" title="用户常用登录方式">
      <TwoPieChart :outer="0.9" :inner="0.55" :legend="loginX" :data="loginStudent" :data2="loginTeacher"/>
    </Card>
  </aside>
  <main flex-column col="4">
    <Card class="behavior__active" title="用户活跃分布" col="5">
      <div class="behavior__active-map" col="6" flex>
        <div class="active-map" col="9">
          <Chart :options="opts"/>
          <div class="visual-map">
            <div class="visual-map__bar"></div>
            <div class="visual-map__top num">{{opts.visualMap.max}}</div>
            <div class="visual-map__bottom num">0</div>
          </div>
        </div>
        <div class="foreign-area">
          <div class="title">境外访问Top 5</div>
          <ProgressBarGroup :data="userForeignAreaTop5Statisc" :color="['#5FF2F8', '#0979B9']"/>
        </div>
        <div col="1"></div>
      </div>
    </Card>
    <div class="behavior__stuff" flex col="3">
      <Card class="behavior__client" col="1" title="用户常用客户端">
        <TwoPieChart :outer="0.9" :inner="0.55" :color="['#9A7DD1', '#419EF8']" :legend="['PC', '移动']"
                     :data="clientStudent" :data2="clientTeacher"/>
      </Card>
      <Card class="behavior__browser" col="1" title="用户常用浏览器Top5">
        <div class="behavior__browser-item">
          <IconItem role="student" :column="false"/>
          <ProgressBarGroup :data="browserTop5.student" :color="['#05C180', '#008E32']"/>
        </div>
        <div class="behavior__browser-item">
          <IconItem role="teacher" :column="false"/>
          <ProgressBarGroup :data="browserTop5.teacher" :color="['#5FF2F8', '#0979B9']"/>
        </div>
      </Card>
    </div>
  </main>
  <aside class="behavior__rightaside" flex-column col="2">
    <Card class="behavior__history" col="2" title="历史数据" :row="false" :detail="true" :date="date">
      <div class="behavior__history-btn" textcenter col="1">
        <a :class="[historySource === 'today' ? 'current' : '']" @click="toggleHistorySource('today')">今日拦截</a><a
        :class="[historySource === 'total' ? 'current' : '']" @click="toggleHistorySource('total')">累计拦截</a>
      </div>
      <div col="2" flex-column spacearound>
        <div flex spacebetween>
          <div>
            暴利密码拆解账号 (个)
          </div>
          <div class="num">{{history.guess}}</div>
        </div>
        <div flex spacebetween>
          <div>
            恶意认证IP(个)
          </div>
          <div class="num">{{history.ip}}</div>
        </div>
      </div>
    </Card>
    <Card class="behavior__secure" col="3" title="账号密码安全">
      <div flex-column rowcenter>
        <vLegend col="1" :data="[{
          name: '无',
          value: safeLegendColor[0]
        }, {
          name: '弱',
          value: safeLegendColor[1]
        }, {
          name: '中',
          value: safeLegendColor[2]
        }, {
          name: '强',
          value: safeLegendColor[3]
        }]"/>
        <div col="1">
          <PercentBar :value="accountSafe.student" :color="safeLegendColor"/>
        </div>
        <div col="1">
          <PercentBar role="teacher" :value="accountSafe.teacher" :color="safeLegendColor"/>
        </div>
      </div>
    </Card>
    <Card class="behavior__platform" col="3" title="用户常用运营商">
      <TwoPieChart :outer="0.9" :inner="0.55" :color="['#9A7DD1', '#419EF8', '#42C66C', '#E3544C', '#E6B03F']" :legend="['移动', '电信', '联通', '校内', '其他']"
                   :data="network.student" :data2="network.teacher"/>
    </Card>
  </aside>
</div>
