@import '~sass/easy';

.behavior {
  main {
    .behavior__stuff {
      margin-top: $paddingHalf / 2;
      .behavior__client, .behavior__browser {
        margin-top: 0;
      }
    }
  }
  .behavior__activation {
    color: #fff;
    font-size: 1em;
    .title {
      margin-top: -0.8em;
      margin-right: 0.2em;
      text-align: right;
    }
    .total-num {
      .num {
        font-size: 3em;
        @include gradient(#FFFFFF, #B3B3B3);
      }
      .unit {
        margin-left: 0.2em;
      }
    }
  }
  @include breakpoint($big) {
    .behavior__online, .behavior__type, .behavior__client, .behavior__platform {
      .twopiechart .legend {
        margin-bottom: 2em;
        > span {
          margin-left: 0.5em;
        }
      }
    }
  }
  .behavior__active {
    .behavior__active-map {
      position: relative;
      padding: 3em 0;
      .active-map {
        .visual-map {
          position: absolute;
          bottom: 2em;
          left: 3em;
          text-align: center;
          .visual-map__top {
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 1em;
            // transform: translateX(140%);
            font-size: 1.5em;
          }
          .visual-map__bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            margin-left: 1em;
            // transform: translateX(140%);
            font-size: 1.5em;
          }
          .visual-map__bar {
            width: 1em;
            height: 4em;
            border-radius: 0.5em;
            background: linear-gradient(to top, #C1CDDD, #3D64DC 50%, #1D4ADC 100%);
            margin: 0.5em auto;
            position: relative;
            &::before, &::after {
              content: '高';
              position: absolute;
              left: 0;
              right: 0;
              margin: 0 auto;
              transform: translateY(-130%);
            }
            &::after {
              content: '低';
              bottom: 0;
              transform: translateY(120%);
            }
          }
        }
      }
      .foreign-area {
        position: absolute;
        top: 3em;
        right: 1.6em;
        width: 10em;
        height: 16em;
        padding: 1em;
        background-image: linear-gradient(-180deg, rgba(0, 134, 227, 0.6) 0%, rgba(0, 113, 221, 0.3) 21%, rgba(0, 89, 214, 0.1) 46%, rgba(0, 70, 209, 0) 97%);
        box-shadow: 0 12px 25px 0 rgba(1, 19, 37, 0.30);
        border-radius: 0.4em;
        .title {
          margin-bottom: 0.5em;
        }
        .progressbar {
          margin-bottom: 0.8em;
          .progressbar__bar {
            height: 0.6em;
          }
          .num {
            font-size: 1em;
          }
          @include breakpoint(max-width 1560px) {
            margin-bottom: 0.2em;
          }
        }
      }
    }
  }
  .behavior__history {
    .behavior__history-btn {
      > a {
        display: inline-block;
        width: 5em;
        height: 1.6em;
        border: 1px solid rgba(255, 255, 255, 0.42);
        line-height: 1.6em;
        font-size: 1.1em;
        text-align: center;
        vertical-align: middle;
        transition: all .5s ease;
        cursor: pointer;
        &.current, &:hover, &:active {
          color: #01122B;
          border: 1px solid #27A6F6;
          background-color: #27A6F6;
        }
        &:first-child {
          border-right: none;
          border-radius: 0.2em 0 0 0.2em;
        }
        &:last-child {
          border-radius: 0 0.2em 0.2em 0;
        }
      }
    }
    .card__body {
      padding-left: 0;
      padding-right: 0;
    }
    [spacebetween] {
      align-items: center;
      padding-left: 1em;
      padding-right: 1em;
      &:first-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 0.5em;
      }
    }
    .num {
      font-size: 2em;
    }
  }
  .behavior__browser {
    .behavior__browser-item {
      display: flex;
      flex-direction: column;
      .progressbargroup {
        display: flex;
        flex-direction: column;
        flex: 1 0 0;
        margin: 0 0.5em;
      }
      @include breakpoint($big) {
        .progressbargroup {
          margin-top: 1.5em;
        }
      }
      .progressbar {
        flex: 1 0 0;
        margin-bottom: 0;
        margin-top: 0.5em;
        .progressbar__bar {
          height: 0.8em;
        }
        @include breakpoint($medium) {
          margin-top: 0.3em;
          .progressbar__bar {
            height: 0.6em;
          }
        }
        .num {
          display: none;
        }
      }
    }
  }
  .behavior__secure {
    white-space: nowrap;
    .percentbar__bar {
      margin-right: 2em;
    }
  }
}
