$fontSizeSmall: 12px;
$fontSizeSmaller: 14px;
$fontSize: 16px;
$fontSizeMedium: 18px;
$fontSizeLarge: 22px;

$paddingHalf: 0.5em;
$paddingSmall: 1em;
$paddingMedium: 1.4em;
$paddingLarge: 2em;

$primary: white;
$radius: 0.5em;

$mobile: max-width 600px;
$pad: max-width 800px;
$small: 800px 1000px;
$medium: 1000px 1440px;
$normal: 1440px 1560px;
$big: 1560px;

