<div class="safety height100" flex>
  <main col="7" flex-column>
    <div class="safety__summary" flex>
      <div class="safety__total-apps">
        <div class="total-apps-wrap" flex-column center>
          <div class="total-apps-title">守护应用总数</div>
          <div class="total-apps-value">
            <span class="num">{{totalApps}}</span>
            <span>个</span>
          </div>
        </div>
      </div>
      <div class="safety__prevented-attacked-times" col="1" flex>
        <div class="prevented-attacked-times_item" col="1" flex-column rowcenter>
          <div class="item-flag">今日</div>
          <div class="item-title" flex>
            <span>防护攻击数</span>
            <span>/</span>
            <span>正常访问数</span>
          </div>
          <div class="item-value" flex>
            <span class="num">{{preventedAttackedTimes.preventedToday}}</span>
            <span>/</span>
            <span class="num">{{preventedAttackedTimes.visitToday}}</span>
            <span>次</span>
          </div>
        </div>
        <div class="prevented-attacked-times_item" col="1" flex-column rowcenter>
          <div class="item-flag">累计</div>
          <div class="item-title" flex>
            <span>防护攻击数</span>
            <span>/</span>
            <span>正常访问数</span>
          </div>
          <div class="item-value" flex>
            <span class="num">{{preventedAttackedTimes.preventedTotal}}</span>
            <span>/</span>
            <span class="num">{{preventedAttackedTimes.visitTotal}}</span>
            <span>次</span>
          </div>
        </div>
        <div class="prevented-attacked-times_item" col="1" flex-column rowcenter>
          <div class="item-flag">累计</div>
          <div class="item-title" flex>
            <span>进流量</span>
            <span>/</span>
            <span>出流量</span>
          </div>
          <div class="item-value" flex>
            <span class="num">{{preventedAttackedTimes.input}}</span>
            <span>/</span>
            <span class="num">{{preventedAttackedTimes.output}}</span>
            <span>MB</span>
          </div>
        </div>
      </div>
    </div>
    <div class="safety__attack" col="1" flex-column>
      <attack class="safety__attack-map" col="1" :attackLists="attackSources" :attackDest="attackedDetail.attack_dest"
              :geoType="'world'"></attack>
      <div class="safety__attack-detail">
        <div class="detail-header" flex>
          <span class="detail-header-title" col="2">实时攻击明细</span>
          <span class="detail-header-time">{{closeTime}}</span>
        </div>
        <div class="detail-content">
          <table v-if="waitDealEvent.length > 0">
            <tr v-for="(e,index) in waitDealEvent" :key="index">
              <td width="15%">【 {{e.attack_type}} 】</td>
              <td width="20%">{{e.platform}}</td>
              <td width="18%">{{e.attack_time}}</td>
              <td width="18%">{{e.ip}}</td>
              <td>{{e.address}}</td>
              <td width="10%">{{e.provider}}</td>
            </tr>
          </table>
          <NoProblem v-else/>
        </div>
      </div>
    </div>
  </main>
  <aside col="3" flex-column>
    <div class="safety__outattack" col="5" flex-column>
      <div class="safety__outattack-header">近7日防护攻击次数/次</div>
      <LineChart col="1" class="safety__outattack-chart" :color="['#E9B042']" :x="preventedCountLast7DaysX"
                 :data="[{name: '近7日阻止攻击次数', value: preventedCountLast7DaysData}]"/>
    </div>
    <div class="safety__attacked-apps" col="7" flex-column>
      <div class="attacked-apps-header" flex>
        <div class="title" col="1" flex>
          <span>被攻击Top5应用</span>
          <span>/次</span>
        </div>
        <span class="more">更多>></span>
      </div>
      <div class="toggle__date">
        <a :class="['device__btn', displayDate === 'today' ? 'current' : '']" @click="toggleDisplayDate('today')">当日</a><a
        :class="['device__btn', displayDate === 'total' ? 'current' : '']" @click="toggleDisplayDate('total')">累计</a>
      </div>
      <div class="attacked-apps-num" col="1">
        <table v-if="displayDate === 'today'">
          <tr>
            <th width="50%">应用方式</th>
            <th width="20%">攻击次数</th>
            <th width="30%">正常访问次数</th>
          </tr>
          <tr v-for="(item, index) in attackedAppsToday" :key="index">
            <td>{{item.app_name}}</td>
            <td>{{item.count}}</td>
            <td>{{item.normal_count}}</td>
          </tr>
          <tr v-for="i in (5 - attackedAppsToday.length)" :key="index">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
        <table v-if="displayDate === 'total'">
          <tr>
            <th width="50%">应用方式</th>
            <th width="20%">攻击次数</th>
            <th width="30%">正常访问次数</th>
          </tr>
          <tr v-for="(item, index) in attackedAppsTotal" :key="index">
            <td>{{item.app_name}}</td>
            <td>{{item.count}}</td>
            <td>{{item.normal_count}}</td>
          </tr>
          <tr v-for="i in (5 - attackedAppsTotal.length)" :key="index">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="safety__attacked-mode" col="6" flex>
      <div class="attack-mode" col="1" flex-column>
        <div class="attacked-mode-header" flex>
          <div class="title" col="1" flex>
            <span>累计攻击方式Top5</span>
            <span>/次</span>
          </div>
          <span class="more">>></span>
        </div>
        <div class="attacked-mode-content" col="1">
          <table>
            <tr>
              <th width="60%">方式</th>
              <th width="40%">攻击数</th>
            </tr>
            <tr v-for="(item, index) in attackMode" :key="index">
              <td>{{item.address}}</td>
              <td>{{item.count}}</td>
            </tr>
            <tr v-for="i in (5 - attackMode.length)" :key="index">
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="foreign-attack" col="1" flex-column>
        <div class="attacked-mode-header" flex>
          <div class="title" col="1" flex>
            <span>累计攻击来源Top5</span>
            <span>/次</span>
          </div>
          <span class="more">>></span>
        </div>
        <div class="attacked-mode-content" col="1">
          <table>
            <tr>
              <th width="60%">来源</th>
              <th width="40%">攻击数</th>
            </tr>
            <tr v-for="(item, index) in foreignAttack" :key="index">
              <td>{{item.address}}</td>
              <td>{{item.count}}</td>
            </tr>
            <tr v-for="i in (5 - attackMode.length)" :key="index">
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </aside>
</div>
