<div class="api height100" flex>
  <aside class="api__leftaside" col="5" flex-column>
    <Card class="api__summary" col="2" title="接口基本信息" :date="date" :detail="true">
      <div class="summary__item" col="1" flex-column rowcenter>
        <div class="summary__item-info" flex center>
          <div class="summary__item-icon">
            <img src="~@assets/images/icon_graph.png" alt=""/>
          </div>
          <div class="summary__item-value" flex>
            <div class="num">{{apiNum}}</div>
            <div class="unit">/个</div>
          </div>
        </div>
        <div class="summary__item-title">接口总数</div>
      </div>
      <div class="summary__item" col="1" flex-column rowcenter>
        <div class="summary__item-info" flex center>
          <div class="summary__item-icon">
            <img src="~@assets/images/icon_wire.png" alt=""/>
          </div>
          <div class="summary__item-value" flex>
            <div class="num">{{normalApiNum}}</div>
            <div class="unit">/个</div>
          </div>
        </div>
        <div class="summary__item-title">正常接口</div>
      </div>
      <div class="summary__item" col="1" flex-column rowcenter>
        <div class="summary__item-info" flex center>
          <div class="summary__item-icon">
            <img src="~@assets/images/icon_notice.png" alt=""/>
          </div>
          <div class="summary__item-value" flex>
            <div class="num error">{{wrongApiNum}}</div>
            <div class="unit">/个</div>
          </div>
        </div>
        <div class="summary__item-title">异常接口</div>
      </div>
    </Card>
    <Card class="api__type-statisc" col="3" title="接口类型分布">
      <div flex center>
        <div class="type-statisc-item" :style="{transform: 'scale('+leftScale+')'}" flex-column center>
          <span class="name">SOAP</span>
          <div class="ball" flex center>
            <span class="num">{{leftPercent}}</span>
          </div>
        </div>
        <div class="type-statisc-item" :style="{transform: 'scale('+rightScale+')'}" flex-column center>
          <span class="name">RESTFUL</span>
          <div class="ball" flex center>
            <span class="num">{{rightPercent}}</span>
          </div>
        </div>
      </div>
    </Card>
    <Card class="api__app-statisc" col="3" title="接口归属分布">
      <PieChart :data="apiAppStatisc" :inner="0.5" :outer="0.9" :cols="1" :showValue="true" :showHeader="true"
                :column="false"  :color="['#27A6F6', '#3AC868', '#ECB045', '#E85650', '#9D81D2']"/>
    </Card>
  </aside>
  <main class="api__main" col="8" flex-column>
    <section class="system__overview" col="5" flex-column>
      <h3 class="system__overview-heading">
        <span class="heading__title">接口调用情况</span>
      </h3>
      <div class="api__use-statisc" col="1" flex-column>
        <div class="use-statisc-row" col="1" flex colcenter>
          <div class="use-statisc-item" col="1" flex colcenter spacebetween>
            <div class="title">今日总调用</div>
            <div flex colcenter>
              <NumCardGroup :color="['#FFFFFF', '#B3B3B3']" :num="todayCallNum" :count="1" :size="2.5" :bgColor="'rgba(0, 0, 0, 0)'" unit="/次" />
            </div>
          </div>
          <div class="use-statisc-item error" col="1" flex colcenter spacebetween>
            <div class="title">今日失败调用</div>
            <div flex colcenter>
              <NumCardGroup :color="['#ED5854', '#ED5854']" :num="todayfailCallNum" :count="1" :size="2.5" :bgColor="'rgba(0, 0, 0, 0)'" unit="/次" />
            </div>
          </div>
        </div>
        <div class="use-statisc-row" col="1" flex colcenter>
          <div class="use-statisc-item" col="1" flex colcenter spacebetween>
            <div class="title">累计总调用</div>
            <div flex colcenter>
              <NumCardGroup :color="['#FFFFFF', '#B3B3B3']" :num="callNum" :count="1" :size="2.5" :bgColor="'rgba(0, 0, 0, 0)'" unit="/次" />
            </div>
          </div>
          <div class="use-statisc-item error" col="1" flex colcenter spacebetween>
            <div class="title">累计失败调用</div>
            <div flex colcenter>
              <NumCardGroup :color="['#ED5854', '#ED5854']" :num="failCallNum" :count="1" :size="2.5" :bgColor="'rgba(0, 0, 0, 0)'" unit="/次" />
            </div>
          </div>
        </div>
      </div>
      <h3 class="system__overview-heading" center>
        <span class="heading__title">近30日接口调用趋势图</span>
      </h3>
      <div class="system__overview-pvuv" col="2">
        <div class="running__outattack-legend">
          <span><span class="running__legend" style="background:linear-gradient(90deg, #05C180, #008E32);"></span><span>成功调用</span></span>
          <span><span class="running__legend" style="background:linear-gradient(90deg, #FF2A2A, #E30000 );"></span><span>失败调用</span></span>
        </div>
        <LineChart :color="['#05C180', '#FF2A2A']" :x="last30DaysApiUseStatiscX" :data="last30DaysApiUseStatisc"/>
      </div>
    </section>
    <div class="behavior__stuff" col="3" flex>
      <Card class="call-num-api" col="1" title="高频调用接口Top5" subtitle="(近30日)">
        <div flex-column>
          <div class="t__header">
            <span>接口名称</span>
            <span>调用次数/次</span>
          </div>
          <RowProgressBarGroup col="1" flex-column spacearound :color="['#05C180', '#008E32']"
                               :data="callNumApiTop5" showValue="true"/>
        </div>
      </Card>
      <Card class="call-num-api" col="1" title="今日活跃接口Top5">
        <div flex-column>
          <div class="t__header">
            <span>接口名称</span>
            <span>调用次数/次</span>
          </div>
          <RowProgressBarGroup col="1" flex-column spacearound :color="['#05C180', '#008E32']"
                               :data="todayCallNumApiTop5" showValue="true"/>
        </div>
      </Card>
    </div>
  </main>
  <aside class="api__rightaside" flex-column col="4">
    <Card class="last30DayTimeCostApiTop5" col="5" title="性能耗时接口Top5" subtitle="(近30日)">
      <Top5 :data="last30DayTimeCostApiTop5"
            :showKey="[{name: 'API名称', value: 'name', flex: 2}, {name: '平均耗时/ms', value: 'value', align: 'right', flex:1}]"/>
    </Card>
    <div class="callApiWrongInfos-wrap" col="3" flex>
      <Card class="callApiWrongInfos" col="1" title="异常接口Top5">
        <div v-if="callApiWrongInfos.length > 0" class="t__wrap" flex-column>
          <div class="t__head" flex>
            <span col="6">接口名称</span>
            <span col="4">发生时间</span>
          </div>
          <div class="t__body" col="1" flex-column>
            <div class="t__tr" flex v-for="item in callApiWrongInfos">
              <span col="6">{{item.apiName}}</span>
              <span col="4">{{item.callTime}}</span>
            </div>
            <div class="t__tr" flex v-for="it in (5 - callApiWrongInfos.length)">
              <span col="6"></span>
              <span col="4"></span>
            </div>
          </div>
        </div>
        <NoProblem v-else/>
      </Card>
    </div>
  </aside>
</div>
