<div class="operation height100" flex>
  <aside class="operation__leftaside" col="1" flex-column>
    <div class="operation__leftaside-summary" flex>
      <div class="summary__item" col="1" flex-column rowcenter>
        <div class="summary__item-title">集成系统数</div>
        <div class="summary__item-info" flex center>
          <div class="summary__item-icon">
            <img src="~@assets/images/icon_share.png" alt=""/>
          </div>
          <div class="summary__item-value" flex>
            <div class="num">{{systemNum}}</div>
            <div class="unit">/个</div>
          </div>
        </div>
      </div>
      <div class="summary__item" col="1" flex-column rowcenter>
        <div class="summary__item-title">集成接口数</div>
        <div class="summary__item-info" flex center>
          <div class="summary__item-icon">
            <img src="~@assets/images/icon_wire.png" alt=""/>
          </div>
          <div class="summary__item-value" flex>
            <div class="num">{{apiNum}}</div>
            <div class="unit">/个</div>
          </div>
        </div>
      </div>
      <div class="summary__item" col="1" flex-column rowcenter>
        <div class="summary__item-title">异常接口数</div>
        <div class="summary__item-info" flex center>
          <div class="summary__item-icon">
            <img src="~@assets/images/icon_notice.png" alt=""/>
          </div>
          <div class="summary__item-value" flex>
            <div class="num error">{{wrongApiNum}}</div>
            <div class="unit">/个</div>
          </div>
        </div>
      </div>
      <div class="summary__item" col="1" flex-column rowcenter>
        <div class="summary__item-title">数据体积</div>
        <div class="summary__item-info" flex center>
          <div class="summary__item-icon">
            <img src="~@assets/images/icon_folder.png" alt=""/>
          </div>
          <div class="summary__item-value" flex>
            <div class="num">{{dataVolume}}</div>
            <div class="unit">/GB</div>
          </div>
        </div>
      </div>
    </div>
    <div class="operation__leftaside-topology" flex col="1">
      <Chart col="1" :options="extendOpt" />
    </div>
  </aside>
  <aside class="operation__rightaside" col="1" flex-column>
    <Card class="operation__rightaside-data">
      <div class="data-item" col="1" flex-column>
        <div class="data-item-title">数据中心</div>
        <div class="data-item-table" flex-column>
          <div class="tabel-title">
            <span>有效表</span>
            <span>/</span>
            <span>总表数</span>
          </div>
          <div class="tabel-data">
            <span class="num">{{dataCenterStatisc.validTableNum}}</span>
            <span>/</span>
            <span class="num">{{dataCenterStatisc.tableNum}}</span>
            <span>张</span>
          </div>
        </div>
        <div class="data-item-record" flex-column>
          <div class="record-title">
            <span>总记录数</span>
          </div>
          <div class="record-data">
            <span class="num">{{dataCenterStatisc.rowNum}}</span>
            <span>条</span>
          </div>
        </div>
      </div>
      <div class="data-item" col="1" flex-column>
        <div class="data-item-title">学校标准</div>
        <div class="data-item-table" flex-column>
          <div class="tabel-title">
            <span>有效表</span>
            <span>/</span>
            <span>总表数</span>
          </div>
          <div class="tabel-data">
            <span class="num">{{schoolStandardStatisc.validTableNum}}</span>
            <span>/</span>
            <span class="num">{{schoolStandardStatisc.tableNum}}</span>
            <span>张</span>
          </div>
        </div>
        <div class="data-item-record" flex-column>
          <div class="record-title">
            <span>总记录数</span>
          </div>
          <div class="record-data">
            <span class="num">{{schoolStandardStatisc.rowNum}}</span>
            <span>条</span>
          </div>
        </div>
      </div>
      <div class="data-item" col="1" flex-column>
        <div class="data-item-title">数据备份</div>
        <div class="data-item-table" flex-column>
          <div class="backups-title">
            <span>已备份表数</span>
          </div>
          <div class="backups-data">
            <span class="num">{{dataBackStatisc.backTableNum}}</span>
            <span>张</span>
          </div>
        </div>
        <div class="data-item-record" flex-column>
          <div class="record-title">
            <span>总记录数</span>
          </div>
          <div class="record-data">
            <span class="num">{{dataBackStatisc.backRowNum}}</span>
            <span>条</span>
          </div>
        </div>
      </div>
    </Card>
    <Card class="operation__rightaside-data" title="近30日数据量" col="1" :row="false">
      <LineBarChart col="1" :color="color" :x="dataConsLatest30DaysX" :data="dataConsLatest30Days"></LineBarChart>
    </Card>
    <div class="operation__rightaside-todo" flex>
      <div class="todo-summary" col="2" flex center>
        <div>待处理问题</div>
        <div>
          <span class="num">{{problemTotalNum}}</span>
          <span>/件</span>
        </div>
      </div>
      <div class="todo-type" col="3" flex>
        <div class="todo-type-item" col="1" flex center v-for="obj in problemStatisc">
          <span col="1" class="item-name">{{obj.probleType}}</span>
          <span col="1" :class="['num', obj.problemNum === 0 ? '' : 'warning']">{{obj.problemNum}}</span>
        </div>
      </div>
    </div>
  </aside>
</div>
